/* 全体の要素 */
body {
    display: flex;
    margin: 0;
}
p {
    margin: 0;
}

/* 汎用クラス */
.hidden {
    display: none !important;
}

/* 特定の要素 */
#side_bar {
    display: flex;
    flex-direction: column;
    width: 244px;
    height: calc(100vh - 16px);
    padding: 8px;
    background-color: #202123;
}
#side_bar * {
    color: white;
    font-size: small;
}
#side_bar img {
    width: 16px;
    height: 16px;
}
#top_buttons {
    display: flex;
    justify-content: space-between;
}
.tab_button {
    display: flex;
    align-items: center;
    padding: 12px;
    border: solid 0.5px rgba(255, 255, 255, 20%);
    border-radius: 7px;
}
#new_chat {
    flex-grow: 1;
    margin-right: 8px;
}
#new_chat > img {
    margin-right: 12px;
}
#chat_list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: hidden;
}
.side_bar_list {
    display: flex;
    align-items: center;
    padding: 12px;
}
.side_bar_list > img {
    margin-right: 6px;
}
#bottom_buttons {
    display: flex;
    flex-direction: column;
    border-top: solid 0.5px rgba(255, 255, 255, 20%);
}
#user > img {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}
#chat_area {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
}
#chat_area * {
    font-size: xx-large;
}
.user_chat, .gpt_chat {
    display: flex;
    width: 700px;
    padding: 24px calc((100vw - 260px - 700px) / 2);
}
.user_chat > img, .gpt_chat > img {
    width: 2ex;
    height: 2ex;
    border-radius: 2px;
}
.user_chat > p, .gpt_chat > p {
    margin-left: 24px;
}
.gpt_chat {
    background-color: #f7f7f9;
    border-top: solid 1px rgba(0, 0, 0, 10%);
    border-bottom: solid 1px rgba(0, 0, 0, 10%);
}
.cursor {
    display: inline-block;
    width: 1.5ex;
    height: 2ex;
    background: black;
    animation: cursor_blink 1s steps(1) infinite;
}
#input_box {
    position: fixed;
    display: flex;
    padding: 16px;
    bottom: 20px;
    left: calc(50% + 130px);
    transform: translateX(-50%);
    background-color: white;
    border: solid 1px rgba(0, 0, 0, 10%);
    border-radius: 16px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 10%);
}
#input_box > p {
    width: 750px;
    line-height: 32px;
}
.empty_text {
    color: #8e8ea0;
}
#input_box > svg {
    width: 16px;
    height: 16px;
    padding: 8px;
    fill: #dedee5;
    border-radius: 4px;
    transition: 0.25s;
}
.can_send {
    fill: white !important;
    background-color: #19c37d;
}

@keyframes cursor_blink {
    0% {
        background-color: black;
    }
    50% {
        background-color: #f7f7f9;
    }
}